/* standart button */
.button {
    font-size: 18px;
    color: #030C07;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    border: none;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.button:hover {
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24);
}

.button.disabled {
    background-color: gainsboro;  
}

.earth {
    background-color: #BAEDD1;
}

.fire {
    background-color: #FFBB5C;
}

.dishStyle {
    width: 30px;
    height: 30px;
    color: white;
    margin: 10px;
}

.dishStyle.earth:hover {
    color: #2DAE67;
    background-color: white;
    border: 1px solid #2DAE67;
}

.dishStyle.fire:hover {
    color: #FF9B50;
    background-color: white;
    border: 1px solid #FF9B50;
}

.tabStyle {
    width: 295px;
    height: 52px;
    border: none;
    color: white;
}

.tabStyle.fire {
    background-color: #FF9B50;
}

.tabStyle.earth {
    background-color: #2FB66C;
}

.tabStyle:hover {
    background-color: #030C07;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}

.tabStyle:active {
    transform: scale(1.05);
}

.tabStyle.active {
    background-color: #030C07;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.reviewStyle {
    padding: 5px 25px;
}