.button {
    font-size: 18px;
    color: #030C07;
    
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    border: none;
    transition: ease-in-out;
    transition-duration: 0.2s;
    
}

.button.disabled {
    background-color: gainsboro;  
}

.earth {
    background-color: #BAEDD1;
}

.fire {
    background-color: #FFBB5C;
}